#post-subreddit, #post-domain, #post-date, .comment-date, #post-score, .comment-score, #post-author {
	color: #808080;
}

#post-subreddit {
	font-weight: bold;
}

.comment-count {
	background-color: #e3e3e3;
	width: 30px;
}

.link-content {
	padding: 10px;
}

body.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

#commentButtons {
	width: 100%;
}

.comment-content {
	padding-bottom: 5px;
}

#commentButtons tr td {
	background-color: #f2f2f2;
	height: 30px;
	text-align: center;
	vertical-align: middle;
}

.disabled {
	color: gray;
}
/*
#thumbnail {
	width: auto;
	height: auto;
	max-width: 140px;
	max-height: 140px;
}

.thumbnailDiv {
	width: 140px;
}
*/
.comment-author {
	font-weight: bold;
}

.sticky a {
    font-weight: bold;
    color: #228822;
}

.moderator {
    color: #228822;
}

.comment {
	border-top: 1px silver solid;
/*
	font-family: "Roboto Slab", Georgia, serif;
*/
	font-size: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.comment-content, .comment-author {
	padding-left: 5px;
}

.active-comment {
	background-color: lightblue;
	margin-left: 0px !important;
}

p {
	margin: 0px;
}

#post-updoots {
	color: red;
}

#post-downdoots {
	color: blue;
}

.comment-op {
	color: #f06;
}

#buttonsRow .btn {
	height: 50px;
	text-align: center;
}