a {
	color: black;
}

.upvotes, .author, .subreddit, .domain, .date {
	color: #808080;
}

.subreddit {
	font-weight: bold;
}

.comment-count {
	background-color: #e3e3e3;
	width: 30px;
}

.post td {
	border-bottom: silver 1px solid;
	padding-top: 10px;
	padding-bottom: 10px;
}

.link-content {
	padding: 10px;
}

body.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.thumbnail {
	width: auto;
	height: auto;
	max-width: 140px;
	max-height: 140px;
}

.thumbnailDiv {
	width: 140px;
}

.sticky a {
    font-weight: bold;
    color: #228822;
}

.moderator {
    color: #228822;
}