.title {
	background-color: #f2f2f2;
}

.body {
}

.title h4 {
	margin-top: 3px;
	margin-bottom: 3px;
}

.title td h4, .body td {
	padding-left: 10px;
	padding-right: 10px;
}

/**/

a {
	color: black;
}

.upvotes, .author, .subreddit, .domain, .date {
	color: #808080;
}

.subreddit {
	font-weight: bold;
}

.comment-count {
	background-color: #e3e3e3;
	width: 30px;
}

.post td {
	border-bottom: silver 1px solid;
	padding-top: 10px;
	padding-bottom: 10px;
}

.body {
	border-bottom: silver 1px solid;
}

.link-content {
	padding: 10px;
}

body.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.thumbnail {
	width: auto;
	height: auto;
	max-width: 80px;
	max-height: 80px;
}

.thumbnailDiv {
	width: 80px;
	vertical-align: text-bottom;
}

.sticky a {
    font-weight: bold;
    color: #228822;
}

.moderator {
    color: #228822;
}

.nsfw-label {
	font-family: Consolas, "Courier New";
	color: red;
}

.post.nsfw {
	background-color: #fdd;
}

.post.nsfw .comment-count {
	background-color: #d77;
}

p {
	margin-bottom: 5px;
}