doctype html
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet",href="css/bootstrap.min.css")
		link(rel="stylesheet",href="css/index.css")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Reddit Flux
	body.container-fluid

		a(href="./oauth.html") Click here to request a new token

		h1 Your data

		tt#field

		script(type="text/javascript" src="js/jquery-2.2.0.js")
		script(type="text/javascript" src="js/bootstrap.js")
		script(type="text/javascript" src="js/main.js")
		script.
			var redirect_uri = "http://localhost:8000/api.html";
			var client_id = "uKBSIfai8-jOxg";
			function callback() {
				var token = getAccessToken();
				// Fetch some example data
				ajax.get("https://oauth.reddit.com/api/v1/me", {
				}, "bearer " + token, function(data) {
					document.getElementById("field").textContent = data;
					data = JSON.parse(data);
					console.log(data);
				});

			}
			if (getAccessToken()) {
				callback();
			} else {
				var code = parameters.code;
				console.log("Code: " + code);
				console.log(code, redirect_uri);
				// Fetch the authorization code from Reddit and store it
				ajax.post("https://ssl.reddit.com/api/v1/access_token", {
					"grant_type": "authorization_code",
					"code": code,
					"redirect_uri": redirect_uri,
					"scope": "identity"
				}, "Basic " + btoa(client_id + ":"), function(data) {
					data = JSON.parse(data);
					document.cookie = "access_token=" + data.access_token
					console.log(data);
					callback();
				});
			}