doctype html
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet",href="css/bootstrap.min.css")
		link(rel="stylesheet",href="css/index.css")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Reddit Flux
	body.container-fluid.text-center

		h1 Login

		p.
			To login, click "authorize" below.

		a.btn.btn-default#tokenLink Authorize

		script(type="text/javascript" src="js/jquery-2.2.0.js")
		script(type="text/javascript" src="js/bootstrap.js")
		script(type="text/javascript" src="js/main.js")
		script.
			var redirect_uri = "http://localhost:8000/api.html";
			var client_id = "uKBSIfai8-jOxg";
			document.getElementById("tokenLink").href = "https://ssl.reddit.com/api/v1/authorize?state=r&redirect_uri=" + encodeURIComponent(redirect_uri) + "&response_type=code&client_id=" + encodeURIComponent(client_id) + "&duration=permanent&scope=identity"
			// Was there an error getting permission (eg. permission denied)?
			if (parameters.error) {
				alert("Error: " + parameters.error);
				throw Error("Couldn't get the auth token");
			}
